layout {

    focus-ring {
        active-color   "#b6cad2"
        inactive-color "#131314"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#b6cad2"
        inactive-color "#131314"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#b6cad2"
        inactive-color "#26383f"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#b6cad280"
    }
}

recent-windows {
    highlight {
        active-color "#b6cad2"
        urgent-color "#ffb4ab"
    }
}
