 /* =============================================================================
 * Waybar configuration
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
}

/* The whole bar */
#waybar {
    background: #282828;
    color: #d8dee9;
    font-family: Ubuntu Nerd Font;
    font-size: 15px;
}

/* Each module */
#custom-pacman,
#custom-media,
#custom-mail,
#custom-notifications,
#battery,
#clock,
#network,
#wireplumber,
#backlight,
#bluetooth,
#tray {
    padding-left: 7px;
    padding-right: 7px;
}


/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#custom-microphone {
}

#battery {
}

#battery.warning {
    color: orange;
}

#battery.critical {
    color: red;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 5s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 5s;
}

#clock.time {
    font-weight: bold;
}
#network {
    /* No styles */
}

#network.disconnected {
    color: orange;
}

#tray {
    /* No styles */
}

#workspaces button {
    border-top: 2px solid transparent;
    /* To compensate for the top border and still have vertical centering */
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    color: #888888;
}

#workspaces button.active{
    border-color: #4c7899;
    color: white;
    background-color: #285577;
}

#workspaces button.urgent {
    border-color: #c9545d;
    color: #c9545d;
}
#window {
    padding-left: 10px;
}
